/* Responsividade para telas menores */
@media (max-width: 768px) {
    main .personagem .imagem {
        height: 60vh; /* Ajuste a altura para caber melhor em telas menores */
        object-fit: contain; /* Garante que a imagem fique visível sem distorção */
    }
    .conteudo {
        left: 60px;
        max-width: 300px;
    }
    
    .conteudo .nome-personagem {
        font-size: 36px;
    }

    .botoes {
        width: 120px;
    }

    .botoes .botao {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 425px) {
    .conteudo {
        left: 30px;
        max-width: 250px;
    }

    .conteudo .nome-personagem {
        font-size: 24px;
    }

    .botoes {
        width: 100px;
    }

    .botoes .botao {
        width: 50px;
        height: 50px;
    }
}